@charset "UTF-8";

main .key-visual {
  text-align: center;
}

.event-box {
  text-align: center;
}

main .event-box h2 {
  font-size: 2rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
}

main .event-box h3 {
  padding-bottom: 6rem;
}

main .schedule {
  padding-bottom: 9rem;
}

.btn {
  padding-bottom: 9rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .key-visual img {
    width: 700px;
    height: 400px;
  }
}
