@charset "UTF-8";

/* 共通 */
/* モバイルファースト */

*{
  box-sizing: border-box;
}

.whole-wrap {
  overflow: hidden;
}

html {
  /* フォントサイズを１０ｐｘにする */
  /* １rem=10pxにする */
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: block;
  margin: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

li{
  list-style: none;
}

.menu-index p {
  color: black;
}

.nav-links {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* -----ヘッダー----- */


header {
  background-color: #d7c1ac;
  height: 5.6rem;
}

header h1 {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1024px) {
  
  /* ナビゲーション～ハンバーガーメニュー */

  body.active {
    overflow: hidden;
  }

  header .header_container {
    height: 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
  }

  header .header_container .nav-links-list {
    padding: 1rem;
  }

  nav .burger {
    cursor: pointer;
  }

  nav .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease-in-out;
  }

  header .nav-links {
    width: fit-content;
    height: 95vh;
    position: fixed;
    right: 0;
    top: 5.6rem;
    background-color: #d7c1ac;
    text-align: center;

    transform: translateX(100%);
    transition: all 0.5s ease-in-out;

    padding-top: 5rem;
  }

  .nav-active {
    transform: translateX(0%) !important;
  }

  .nav-links li {
    opacity: 0;
    padding: 1rem 0;
  }

  @keyframes navLinksFade {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* ハンバーガーメニューの閉じるボタン */
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    z-index: 2;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}


/* ----------ヘッダー部分、PC表示でのみ適用される部分---------- */
@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }

  header .nav-links li {
    opacity: 1;
  }

  /* [PC]ヘッダー部分の形を整える */
  header {
    height: 80px;
  }

  header .logo {
    text-align: center;
    width: 200px;
    height: auto;
    margin-left: 4rem;
  }

  header h1 {
    font-size: 3rem;
  }

  .header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }

  nav .nav-links-list {
    display: flex;
  }

  nav .nav-links li {
    cursor: pointer;
  }

  nav li:hover {
    background-color: #fff;
  }

  nav li a {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* ----------フッター ----------*/
footer {
  width: 100%;
  background-color: #d7c1ac;
}

.fbox {
  margin-top: 3rem;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.f-logo {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
}

.f-nav {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 2;
}

.sns-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.sns-nav li {
  margin: 1em;
}

.fbox p {
  text-align: center;
}

/* フッターー部分、PC表示でのみ適用される部分 */
@media screen and (min-width: 1024px) {
  /* フッター */
  .f-nav li {
    display: inline-block;
    margin: 0 1rem;
  }

  .f-logo {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .sns-nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  main .main-title {
    padding-left: 10rem;
  }
}

/* 内容 メインコンテンツ */

main {
  width: 80%;
  margin: 6rem auto;
}

main h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

.key-visual {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}



@media screen and (min-width: 1024px) {
  .key-visual img {
    width: 700px;
    height: 400px;
  }
}

main .main-title {
  line-height: 2;
  padding-bottom: 3rem;
}

.main-title p {
  font-size: 1.75rem;
  text-indent: 0.5em;
}

/* buttonタグのリセットCSS */
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* ボタンのスタイル */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 24px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: peru;

  transition: background-color 0.2s;
}

.button:hover {
  background-color: #d7c1ac;
}


/* リンクボタン */
.link-btn {
  padding: 1rem 0;
  font-size: 0.95em;
}

.link-btn p {
  font-weight: bold;
  letter-spacing: 0.15em;
}

.link-btn a {
  color: red;
}

/* ふわっと出てくるアニメーション */
.scroll-block {
  opacity: 0.1;
  transition: all 1.5s;
}

/* JSで追加されるクラス */
.blockIn {
  opacity: 1;
}
